body{
    background-color: cyan;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sketch-screen{
    width: 512px;
    height: 512px;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: content-box;
}

.pad{
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
}

h1{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button{
    font-size: 21px;
    background-color: red;
    color:white;
    border:1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
}